.BackgroundVideo-section {
  position: relative;
  overflow: hidden;
  height: 100vh;
}
.BackgroundVideo {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.BackgroundVideo video {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.BackgroundVideo--video {
  transition: all 0.2s ease;
  opacity: 0;
}
.BackgroundVideo--video.playing {
  opacity: 1;
}

.BackgroundVideo--videoTitle {
  font-family: 'Beauchef';
  text-shadow: 0 0 60px #0c233f;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  left: 0px;
  right: 0px;
  max-width: 750px;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 6rem;
  line-height: 110%;
  margin-bottom: 0;
}

.Poster--videoTitle {
  position: absolute;
  top: 50%;
  left: 6 vw;
  transform: translate(0, -50%);
  width: 75%;
  text-align: left;
  text-transform: uppercase;
  margin:auto;
  font-size: max(7.5vh, 7.5vw);
  color: #0c233f;
  line-height: 110%;
  margin-bottom: 0;

}
