.PageHeader {
  background-color: var(--darkGrey);
  color: white;
  padding: 30vh 0;
  height: 100vh;
}

.PageHeader .BackgroundImage {
  opacity: 0.8;
  height: 100%;
}

.PageHeader-large {
  height: 100vh;
}

.PageHeader--Title {
  font-size: 6rem;
  text-transform: uppercase;
  font-weight: 600;
  color: #0c233f;
  line-height: 110%;
  margin-bottom: 0;
}

.PageHeader--Subtitle {
  font-weight: 400;
  font-size: 2.6rem;
  line-height: 150%;
  color: #0c233f;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 600px) {
  .PageHeader {
    padding: 7rem 0;
  }
  .PageHeader-large {
    padding: 12.5rem 0;
  }
}
