.PageHeader {
  background-color: var(--white);
  color: white;
  padding: 40vh 0;
  height: 100vh;
}

.PageHeader .BackgroundImage {
  opacity: 1;
  height: 100%;
  box-shadow: inset 0 0 0 100vmax rgba(255, 255, 255, 0.0);
}

.PageHeader-large {
  height: 100vh;
}

.PageHeader--Title {
  font-size: 6rem;
  text-transform: uppercase;
  max-width: 600px;
  text-align: center;
  color: white;
  text-shadow: 0 0 60px #0c233f;
  line-height: 110%;
  margin-bottom: 0;
  margin: auto;
}

.PageHeader--Subtitle {
  display: none;
  font-weight: 400;
  font-size: max(2.5vh, 2.5vw);
  line-height: 110%;
  color: #0c233f;
}

.PageHeader .container {
  animation: fadeIn 0.5s ease-out;
}

@media (max-width: 666px) {
  .PageHeader {
    padding: 35vh 0;
  }
  .PageHeader-large {
    padding: 35vh 0;
  }
  .herotext {
    max-width: 500px;

  }
}
@media (min-width: 800px) {
.herotext {
  text-align: center;
}
}
